app/footer.jade
// start footer
#footer(ng-controller="FooterController")
  .top
    .container
      .row
        .col-md-4.col-xs-12.col-sm-4
          // footer logo here
          a.logo(href='#')
            img(src='img/logo_white.png', alt='')
          .text
            // footer logo text
            p
              | Prestie was made by 
              a(href="#", data-toggle="modal", data-target="#myModal") Ryan and Surat
              |  who believe that helping companies and people discover what really motivates them can benefit everyone.  We are based in Cambridge, Massachusetts and are proud to be residents of the Harvard Innovation Lab.
        .col-md-4.col-xs-12.col-sm-4
          //- .text
            // disclaimer headline
            .header DISCLAIMER
            // disclaimer text
            p
              | Maecenas mattis&period; Sed convallis tristique sem&period; Proin ut ligula vel nunc egestas porttitor&period; Pellentesque nibh&period;
            p
              | Curabitur sodales ligula in libero&period; Curabitur tortor&period; Pellentesque nibh&period; Aenean quam&period; In scelerisque sem at dolor&period; Maecenas mattis&period; Sed convallis tristique sem&period; Proin ut ligula vel nunc egestas porttitor&period; Pellentesque nibh&period;
        .col-md-4.col-xs-12.col-sm-4
          .text
            // newsletter headline
            .header NEWSLETTER
            // newsletter text
            p
              | Keep up on our always evolving product features and technology&period; Enter your e-mail and subscribe to our newsletter&period;
          // newsletter form
          .subscribe
            form
              .alert.alert-success(ng-show="message") {{message}}
              input(type='text',ng-model="email", placeholder='Email Address')
              input.styler_bg_color(type='submit', ng-click="requestNews(email)")
          //- .contacts_block_new
            ul.social_links_new
              li
                a.fb.styler_bg_color(href='#')
              li
                a.tw.styler_bg_color(href='#')
              li
                a.pi.styler_bg_color(href='#')
              li
                a.in.styler_bg_color(href='#')
              li
                a.share.styler_bg_color(href='#')                

  .bottom
    .container
      .row
        // enter copyright information here
        .copyrights
          | &copy; Copyright 
          a(href='//prestie.co') Prestie
          |  2014&period; All rights reserved&period;

#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Ryan and Surat
        .modal-body
          | Prestie was co-founded by Ryan Borker, who serves as CEO, and Surat Teerapittayanon, who serves as CTO.  They met each other at a hackathon at MIT and proceeded to take second place.  Afterwards, they continued to build and work together until deciding to ‘go for it’ with Prestie.  Surat brings unparalleled technical skills, with a dual degree and masters in Computer Science and Math from MIT, where he won the PokerBots competition.  He currently is pursuing his PhD in Computer Science at Harvard.  Ryan brings business acumen from his nearly 4 years consulting at BCG.  His time at BCG’s think tank, the Strategy Institute, sharpened his ability to think about important trends and opportunities.  As an MBA at MIT Sloan, he has focused exclusively on learning more about entrepreneurship.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          //- button.btn.btn-primary(type='button') Save changes

_public/footer.html

<!-- start footer-->
<div id="footer" ng-controller="FooterController">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
          <!-- footer logo here--><a href="#" class="logo"><img src="img/logo_white.png" alt=""/></a>
          <div class="text">
            <!-- footer logo text-->
            <p>Prestie was made by <a href="#" data-toggle="modal" data-target="#myModal">Ryan and Surat</a> who believe that helping companies and people discover what really motivates them can benefit everyone.  We are based in Cambridge, Massachusetts and are proud to be residents of the Harvard Innovation Lab.</p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
          <div class="text">
            <!-- newsletter headline-->
            <div class="header">NEWSLETTER</div>
            <!-- newsletter text-->
            <p>Keep up on our always evolving product features and technology&period; Enter your e-mail and subscribe to our newsletter&period;</p>
          </div>
          <!-- newsletter form-->
          <div class="subscribe">
            <form>
              <div ng-show="message" class="alert alert-success">{{message}}</div>
              <input type="text" ng-model="email" placeholder="Email Address"/>
              <input type="submit" ng-click="requestNews(email)" class="styler_bg_color"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <!-- enter copyright information here-->
        <div class="copyrights">&copy; Copyright <a href="//prestie.co">Prestie</a> 2014&period; All rights reserved&period;</div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabel" class="modal-title">Ryan and Surat</h4>
      </div>
      <div class="modal-body">Prestie was co-founded by Ryan Borker, who serves as CEO, and Surat Teerapittayanon, who serves as CTO.  They met each other at a hackathon at MIT and proceeded to take second place.  Afterwards, they continued to build and work together until deciding to ‘go for it’ with Prestie.  Surat brings unparalleled technical skills, with a dual degree and masters in Computer Science and Math from MIT, where he won the PokerBots competition.  He currently is pursuing his PhD in Computer Science at Harvard.  Ryan brings business acumen from his nearly 4 years consulting at BCG.  His time at BCG’s think tank, the Strategy Institute, sharpened his ability to think about important trends and opportunities.  As an MBA at MIT Sloan, he has focused exclusively on learning more about entrepreneurship.</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
