_public/getstarted.html
<!DOCTYPE html>
<html>
  <head>
    <title>Prestie</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="js/rs-plugin/css/settings.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/media.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/css/app.css"><!--[if lte IE 7]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script><![endif]--><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
      
    </script>
    <script src="/js/kinvey-html5-1.1.2.min.js"></script>
    <script src="/js/vendor.js"></script>
  </head>
  <body lang="en" ng-cloak>
    <div id="container" class="main">
      <div id="out">
                <div id="header" ng-controller="HeaderController">
                  <div class="inner">
                    <!-- start notification bar-->
                    <div ng-show="notificationMessage" class="notify-bar">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-11 col-xs-11 col-sm-11">
                            <!-- enter notification message here-->
                            <p>{{notificationMessage}}</p>
                          </div>
                          <div class="col-md-1 col-xs-1 col-sm-1"><a href="#" class="notify-close"><i class="icon-remove-sign"></i></a></div>
                        </div>
                      </div>
                    </div>
                    <!-- /end notification bar-->
                    <!-- start top grey bar-->
                    <!-- /end top grey bar-->
                    <!-- start logo and nav area-->
                    <div class="bottom">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-2 col-xs-12 col-sm-2">
                            <!-- your logo goes here--><a id="logo" href="/"><img src="img/logo.png" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /end logo and nav area-->
                  </div>
                </div>
        <div id="wrapper">
          <div ng-controller="RequestController" ng-init="request={};" class="container">
            <div ng-show="message" class="alert alert-success">{{message}} <a href="/index.html">Back to Home</a></div>
            <div class="mod row">
              <!-- contact us headline-->
              <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="caption styler_color">Get Started Now</div>
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                <!-- contact us form-->
                <div class="contact_form">
                  <form>
                    <input type="text" ng-model="request.name" placeholder="Name">
                    <input type="text" ng-model="request.email" placeholder="Email Address">
                    <input type="submit" ng-click="requestInvite(request)" value="Get Started!" style="width:120px" class="styler_bg_color">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- start footer-->
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/style-switcher/style-switcher.js"></script>
    <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script>
    <script type="text/javascript" src="js/library.js"></script>
    <script type="text/javascript" src="js/function.js"></script>
    <script src="/js/partials.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>

app/getstarted.jade
!!! 5
html
  head
    include head.jade
  body(lang='en', ng-cloak)

    #container.main
      #out
        include header.jade 
        mixin header('')
        #wrapper
          .container(ng-controller="RequestController", ng-init="request={};")
            .alert.alert-success(ng-show="message")
              | {{message}} 
              a(href="/index.html") Back to Home
            .mod.row
              // contact us headline
              .col-md-12.col-xs-12.col-sm-12
                .caption.styler_color Get Started Now
              .col-md-12.col-xs-12.col-sm-12
                // contact us form
                .contact_form
                  form
                    input(type='text', ng-model="request.name", placeholder='Name')
                    input(type='text', ng-model="request.email", placeholder='Email Address')
                    input.styler_bg_color(type='submit', ng-click="requestInvite(request)", value='Get Started!', style="width:120px")
    // start footer
    //- include footer.jade 
    include foot.jade
