_public/mobile_message.html

<div ng-show="warning" class="message warning center-wrapper"><i class="icon-warning-sign"></i>
  <p>{{warning}}</p>
</div>
<div ng-show="info" class="message info"><i class="icon-lightbulb"></i>
  <p>{{info}}</p>
</div>
<div ng-show="error" class="message error"><i class="icon-exclamation-sign"></i>
  <p>{{error}}</p>
</div>
<div ng-show="success" class="message success"><i class="icon-ok"></i>
  <p>{{success}}</p>
</div>

app/mobile_message.jade
.message.warning.center-wrapper(ng-show="warning")
  i.icon-warning-sign
  p {{warning}}
.message.info(ng-show="info")
  i.icon-lightbulb
  p {{info}}
.message.error(ng-show="error")
  i.icon-exclamation-sign
  p {{error}}
.message.success(ng-show="success")
  i.icon-ok
  p {{success}}
