_public/mobile_self_rate.html
<!DOCTYPE html>
<html>
  <head>
    <title>Prestie</title>
    <link type="text/css" rel="stylesheet" href="css-subset/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- jQueryMobileCSS - original without styling-->
    <link rel="stylesheet" href="css/jquerymobile.css">
    <!-- nativeDroid core CSS-->
    <link rel="stylesheet" href="css/jquerymobile.nativedroid.css">
    <!-- nativeDroid: Light/Dark-->
    <link id="jQMnDTheme" rel="stylesheet" href="css/jquerymobile.nativedroid.dark.css">
    <!-- nativeDroid: Color Schemes-->
    <link id="jQMnDColor" rel="stylesheet" href="css/jquerymobile.nativedroid.color.blue.css">
    <!-- jQuery / jQueryMobile Scripts-->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/css/app.css">
    <script src="js/async.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    </script>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '636457043051998',                        // App ID from the app dashboard
          channelUrl : '', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });
        
        // Additional initialization code such as adding Event Listeners goes here
      };
      
      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  
      
    </script>
    <script src="/js/kinvey-html5-1.1.2.js"></script>
    <script src="/js/vendor.js"></script>
  </head>
  <body ng-cloak>
    <div data-role="page" data-theme="b" ng-controller="MobileSelfRateController">
      <div data-role="content">           
        <div ng-show="warning" class="message warning center-wrapper"><i class="icon-warning-sign"></i>
          <p>{{warning}}</p>
        </div>
        <div ng-show="info" class="message info"><i class="icon-lightbulb"></i>
          <p>{{info}}</p>
        </div>
        <div ng-show="error" class="message error"><i class="icon-exclamation-sign"></i>
          <p>{{error}}</p>
        </div>
        <div ng-show="success" class="message success"><i class="icon-ok"></i>
          <p>{{success}}</p>
        </div>
        <div class="margin-bottom-20"></div>
        <div ng-show="success" class="inset">
          <form>
            <button ng-click="continue()">Continue</button>
          </form>
        </div>
        <div ng-show="question" class="inset">
          <div class="progress">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{+cur/+count*100}}%;" class="progress-bar"><span>{{cur}}/{{count}}</span></div>
          </div>
        </div>
        <div ng-show="question" class="inset center-wrapper"><img ng-src="{{user.picture}}?width=100&amp;height=100">
          <h1>{{question.question}}</h1>
          <fieldset class="ui-grid-a">
            <div class="ui-block-a">
              <button data-theme="b" ng-click="answer(question,question.choices[0])">{{question.choices[0].choice}}</button>
            </div>
            <div class="ui-block-b">
              <button data-theme="b" ng-click="answer(question,question.choices[1])">{{question.choices[1].choice}}</button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/partials.js"></script>
  <script src="/js/app.js"></script>
</html>

app/mobile_self_rate.jade
!!! 5
html
  head
    include mobile_head
  body(ng-cloak)
    div(data-role='page', data-theme='b', ng-controller="MobileSelfRateController")
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
      //-   h1 Prestie
      //-   a(href='/', data-ajax='false', target='_blank')
      //-     i.icon-prestie
      //-       img(src="img/favicon.png")
      div(data-role='content')            
        include mobile_message.jade
        .margin-bottom-20
        .inset(ng-show="success")
          form
            button(ng-click="continue()") Continue
        .inset(ng-show="question")
          .progress
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{+cur/+count*100}}%;')
             span {{cur}}/{{count}}
        .inset.center-wrapper(ng-show="question")
          img(ng-src="{{user.picture}}?width=100&height=100")
          h1 {{question.question}}
          fieldset.ui-grid-a
            .ui-block-a
              button(data-theme='b', ng-click="answer(question,question.choices[0])") {{question.choices[0].choice}}
            .ui-block-b
              button(data-theme='b', ng-click="answer(question,question.choices[1])") {{question.choices[1].choice}}

  include mobile_foot
