app/mobile_main.jade
!!! 5
html(ng-cloak)
  head
    include mobile_head
  body
    div(data-role='page', data-theme='b', ng-controller="MobileMainController")
      #popupDialog(data-role='popup', data-theme='b')
        div(data-role='header',data-theme='b')
          h1 Why do I need to connect with Facebook?
        div(data-role='content', data-theme='b')
          p Prestie lets you discover your strengths through your friends. The easiest way to do that is through facebook, though in the future we hope to come up with other ways also. Rest assured your data is safe with us.
          .showastabs.center.nobg
            a(href='#', data-rel='back', data-icon='ok', data-iconpos='left', data-role='button', data-inline='true') Okay
      //- div(data-role='header', data-position='fixed', data-tap-toggle='false', data-theme='b')
        h1 Prestie
        a(href='http://ldv.prestie.co/', data-ajax='false', target='_blank')
          img(src="/img/favicon.png", width="100%")
            //- i.icon-android
      div(data-role='content')
        include mobile_message.jade
        .inset.center-wrapper
          .margin-bottom-80
          img(src="/img/splash_white.png")
          h2 Discover your hidden strengths
        .message.warning(ng-hide="loading")
          i.icon-lightbulb
          p Prestie lets you rate yourself and your friends to discover your strengths and unlock you potential
        .message.success.center-wrapper(ng-show="loading")
          i.icon-spinner
          p {{loading}}
        form.center-wrapper
          .inset
            a(ng-click="connectFacebook()",data-role="button") 
              p
                i.icon-facebook(style="font-size:20px;") 
                | Connect with facebook
         .inset.center-wrapper
            a(href='#popupDialog',data-rel='popup',data-position-to='window',data-role='button',data-transition='pop',data-inline='true')             
              i.icon-question-sign(style="font-size:25px;")
          .inset.center-wrapper
        
  include mobile_foot

_public/mobile_main.html
<!DOCTYPE html>
<html ng-cloak>
  <head>
    <title>Prestie</title>
    <link type="text/css" rel="stylesheet" href="css-subset/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- jQueryMobileCSS - original without styling-->
    <link rel="stylesheet" href="css/jquerymobile.css">
    <!-- nativeDroid core CSS-->
    <link rel="stylesheet" href="css/jquerymobile.nativedroid.css">
    <!-- nativeDroid: Light/Dark-->
    <link id="jQMnDTheme" rel="stylesheet" href="css/jquerymobile.nativedroid.dark.css">
    <!-- nativeDroid: Color Schemes-->
    <link id="jQMnDColor" rel="stylesheet" href="css/jquerymobile.nativedroid.color.blue.css">
    <!-- jQuery / jQueryMobile Scripts-->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/css/app.css">
    <script src="js/async.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script>
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {
        enabled: true
      };
    </script>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '636457043051998',                        // App ID from the app dashboard
          channelUrl : '', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });
        
        // Additional initialization code such as adding Event Listeners goes here
      };
      
      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  
      
    </script>
    <script src="/js/kinvey-html5-1.1.2.js"></script>
    <script src="/js/vendor.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="b" ng-controller="MobileMainController">
      <div id="popupDialog" data-role="popup" data-theme="b">
        <div data-role="header" data-theme="b">
          <h1>Why do I need to connect with Facebook?</h1>
        </div>
        <div data-role="content" data-theme="b">
          <p>Prestie lets you discover your strengths through your friends. The easiest way to do that is through facebook, though in the future we hope to come up with other ways also. Rest assured your data is safe with us.</p>
          <div class="showastabs center nobg"><a href="#" data-rel="back" data-icon="ok" data-iconpos="left" data-role="button" data-inline="true">Okay</a></div>
        </div>
      </div>
      <div data-role="content">
        <div ng-show="warning" class="message warning center-wrapper"><i class="icon-warning-sign"></i>
          <p>{{warning}}</p>
        </div>
        <div ng-show="info" class="message info"><i class="icon-lightbulb"></i>
          <p>{{info}}</p>
        </div>
        <div ng-show="error" class="message error"><i class="icon-exclamation-sign"></i>
          <p>{{error}}</p>
        </div>
        <div ng-show="success" class="message success"><i class="icon-ok"></i>
          <p>{{success}}</p>
        </div>
        <div class="inset center-wrapper">
          <div class="margin-bottom-80"></div><img src="/img/splash_white.png">
          <h2>Discover your hidden strengths</h2>
        </div>
        <div ng-hide="loading" class="message warning"><i class="icon-lightbulb"></i>
          <p>Prestie lets you rate yourself and your friends to discover your strengths and unlock you potential</p>
        </div>
        <div ng-show="loading" class="message success center-wrapper"><i class="icon-spinner"></i>
          <p>{{loading}}</p>
        </div>
        <form class="center-wrapper">
          <div class="inset"><a ng-click="connectFacebook()" data-role="button"> 
              <p><i style="font-size:20px;" class="icon-facebook"> </i>Connect with facebook</p></a></div>
        </form>
        <div class="inset center-wrapper"><a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-transition="pop" data-inline="true">            <i style="font-size:25px;" class="icon-question-sign"></i></a></div>
        <div class="inset center-wrapper"></div>
      </div>
    </div>
  </body>
  <script src="/js/partials.js"></script>
  <script src="/js/app.js"></script>
</html>
